@use '@shared/css/global_vars';
@use '@shared/css/mixins';
@use '@shared/css/functions';


$separatorWidth: 3px;
$separatorgradient: linear-gradient(to right, #e6e7e6c8, #e4e5e4);
$elementSpacing: 40px;

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f3f4f3;
    color: global_vars.$text-primary;
    // font-size: 0.688rem;
    // @include mixins.sm {    
    //     font-size: 10rem; 
    //  }
    margin-bottom: 5rem;
}

h1,
h2,
strong {
    color: global_vars.$text-secondary;
    text-transform: uppercase;
}

h1 {
    // font-size: 2.563rem;
}

h2 {}

.bar {
    background-color: #bcbebf;
    height: 28px;
}

ul {
    list-style-position: inside;
    padding-left: 3px;
    // margin-left: -40px;
    // display: contents;
}

.wrapper {
    max-width: 1240px;
    padding: 0 global_vars.$gutter;
    margin: 0 auto;

}

header {
    .name {
        margin-top: $elementSpacing;
        font-size: functions.toRem(41);
        line-height: functions.toRem(43);

        span {
            font-weight: 300;
            color: #7b7c7b;
        }

    }

    .title {
        text-transform: uppercase;
        color: #b8b9b8;
        font-size: functions.toRem(18);
    }

    .about {
        margin-top: functions.toRem(19);

    }
}

article {
    &.wrapper {
        margin-top: $elementSpacing;
    }
}

main {
    display: grid;
    grid-template-columns: 210px $separatorWidth 1fr;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-content: space-between;
    gap: 25px;

    section {
        order: 3;
        flex-grow: 1;
        width: auto;
    }

    aside {
        order: 1;
        flex-shrink: 0;
        width: 210px;
    }
}

.separator {
    height: $separatorWidth;
    display: block;
    background: $separatorgradient;
}

.divider {
    width: $separatorWidth;
    background: $separatorgradient;
    order: 2;

}

// Print rules
@media print {
    body {
        print-color-adjust: exact;
    }
}

@page {
    margin: 0;
}